.breadcrumbs {
  padding: 10px 15px;
  @include border();
  @include background-linear(#ffffff, #f5f5f5);
  > li {
    display: inline-block;
    &:last-child {
      em {
        display: none;
      }
    }
    em {
      margin: 0 5px;
      @extend .color-describe;
    }
  }
}


.menu {
  &.horizontal li {
    display: inline-block;
  }
  li {
    a {
      display: block;
      padding: 10px 20px;
      &:hover {
        background-color: #eee;
      }
    }
    &.menu-selected a {
      @extend a:hover;
    }
  }
}
