<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" ng-app> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Menu | Simple CSS | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />
    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />


    <!-- for window 8 -->
    <meta name="msapplication-TileImage" content="/images/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#000000">


    <!-- for apple mobile -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="imagetoolbar" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon.png">


    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<!-- hidden input -->
<div class="hidden-input">
    <input type="hidden" id="" name="" value="">
    <input type="hidden" id="" name="" value="">
</div>


<!-- html5 -->
<div class="wrapper">

    <nav>
        <a href="{{logo.link}}" class="logo" title="{{logo.name}}">{{logo.name}}</a>
        <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
        <ul>
            <li ng-repeat="page in pages | filter:search:strict">
                <a href="{{page.link}}" title="{{page.name}}">{{page.name}}</a>
            </li>
        </ul>
    </nav>

    <main>
        <aside class="nav-btn">
            <
        </aside>
        <header>
            <div class="container">
                <h1 class="headline">Menu</h1>
                <h2 class="describe">Simple CSS for menus.</h2>
            </div>
        </header>

        <article id="page-content">
            <div class="container pure-g">
                <div class="pure-u-1">
                    <div class="l-hbox">
                        <h3 class="title subtitle">Breadcrumbs</h3>
                        <ul class="breadcrumbs">
                            <li><a href="##">crumb 1</a><em>/</em></li>
                            <li><a href="##">crumb 2</a><em>/</em></li>
                            <li><a href="##">crumb 3</a><em>/</em></li>
                            <li><a href="##">crumb 4</a><em>/</em></li>
                            <li><a href="##" class="active">crumb 5</a><em>/</em></li>
                        </ul>
                    </div>
                </div>
                <div class="pure-u-1 box-margin-top">
                    <div class="l-hbox">
                        <h3 class="title subtitle">Horizontal Menu</h3>
                        <ul class="menu horizontal">
                            <li><a href="#">Home</a></li>
                            <li class="menu-selected"><a href="#">Flickr</a></li>
                            <li><a href="#">Messenger</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Finance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pure-u-1 box-margin-top">
                    <div class="l-hbox">
                        <h3 class="title subtitle">Vertical Menu</h3>
                        <ul class="menu">
                            <li><a href="#">Flickr</a></li>
                            <li><a href="#">Messenger</a></li>
                            <li class="menu-selected"><a href="#">Sports</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Games</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">OMG!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>

        <footer id="footer">{{footer}}</footer>
    </main>
</div>



<!-- Add your template content here -->
<div class="template"></div>
<!-- script link here -->
<div id="script">
    <script src="/js/common.js"></script>
</div>
</body>
</html>