<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>About | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />
    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />

    <!-- for apple mobile -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="cleartype" content="on" />
    <meta http-equiv="imagetoolbar" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" sizes="200x200" href="/images/apple-touch-icon.png" />

    <!-- for window 8 -->
    <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon.png" />
    <meta name="msapplication-TileColor" content="#000000" />

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- CSS link here -->
    <link rel="stylesheet" href="/styles/css/main.css" />
</head>
<body>
    <!-- hidden input -->
    <div class="hidden-input">
        <input type="hidden" id="" name="" value="">
        <input type="hidden" id="" name="" value="">
    </div>

    <!-- html5 -->
    <div class="wrapper">
        <aside id="aside">
            <nav class="nav">
                <a href="{{logo.link}}" class="logo nav-item" title="{{logo.name}}">{{logo.name}}</a>
                <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
                <ul id="navigation">
                    <li ng-repeat="nav in navs | filter:search:strict">
                        <a class="nav-item" href="{{nav.link}}" title="{{nav.name}}">{{nav.name}}</a>
                    </li>
                </ul>
            </nav>
            <a class="btn-nav-control btn-hover fa fa-chevron-left fa-2x" id="nav-control" href="##"></a>
        </aside>
        <main>
            <header>
                <h1 class="headline">Simple</h1>
                <h3 class="describe">A set of small, responsive CSS modules that you can use in every web project.</h3>
            </header>
            <article class="container" id="page-content">
                content
            </article>
            <footer id="footer">{{footer}}</footer>
        </main>
        <a class="btn-back-to-top btn-hover fa fa-chevron-up fa-2x" id="back-to-top" href="##"></a>
    </div>

    <!-- Add your template content here -->
    <div id="template"></div>
    <!-- script link here -->
    <div id="script">
        <script src="/scripts/common.js"></script>
    </div>
</body>
</html>