/* ==========================================================================
   Global mixins
   ========================================================================== */



// Clear
// -------------------------
@mixin clearfix() {
  zoom: 1;
  *overflow: hidden;
  &:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
  }
}



// Opacity
// -------------------------
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity = $opacity * 100); // IE
  //$opacity-ie: ($opacity * 100);
}







// Text
// -------------------------

// Text overflow
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// text hover animation
@mixin text-animation() {
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $text-color-highlight;
    text-indent: 10px;
  }
}

// text select
@mixin user-select($values){
  -webkit-user-select: $values;
  -moz-user-select: $values;
  -ms-user-select: $values;
  user-select: $values;
}













// Box
// -------------------------

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

// Box shadows
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-sizing: $shadow;
  box-shadow: $shadow;
}

// Box radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// border style
@mixin border($radius: $box-border-radius) {
  $width:  $box-border-width;
  $color:  $box-border-color;
  $style:  $box-border-style;
  border:  $width $style $color;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-bottom() {
  $width:  $box-border-width;
  $color:  $box-border-color;
  $style:  $box-border-style;
  border-bottom: $width $style $color;
}













// CSS3 background , animation , transition , transformations
// -------------------------

// background size
@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

// background color
@mixin background-linear($color-start: #ffffff, $color-end: #000000) {
  //-webkit-gradien(<type>,<point>[,<radius>]?,<point>[,<radius>]?[,<stop>]*)                                  //Webkit引擎老式语法
  //-webkit-linear-gradient([<point>||<angle>,]?<stop>,<stop>[,<stop>]*)                                       //Webkit引擎新式语法
  //-moz-linear-gradient([<point>||<angle>,]?<stop>,<stop>[,<stop>]*)                                          //Gecko引擎
  //-o-linear-gradient([<point>||<angle>,]?<stop>,<stop>[,<stop>]*)                                            //Presto引擎
  //-ms-linear-gradient([<point>||<angle>,]?<stop>,<stop>[,<stop>]*)                                           //Trident引擎
  //linear-gradient([[<angle> | to <side-or-corner> ],]?<color-stop>[,<color-stop>]+)                          //w3c标准
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff');        //IE6 & IE7
  //-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')";  //IE8+
  background-image: -moz-linear-gradient($color-start, $color-end); /* FF 3.6+ */
  background-image: -webkit-linear-gradient($color-start, $color-end); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient($color-start, $color-end); /* Opera 11.10 */
  background-image: linear-gradient($color-start, $color-end); /* the standard */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="+$color-start+", endColorstr="+$color-end+")";
}

// loading and progress Striped
@mixin striped($color: #555, $angle: 45deg) {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
}

// animation
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

// Transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
  transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}
@mixin transition-transform($transition) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}

// Transformations
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees); // IE9+
  transform: rotate($degrees);
}
@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
  -ms-transform: scale($ratio); // IE9+
  transform: scale($ratio);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y); // IE9+
  transform: translate($x, $y);
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
  -ms-transform: skewX($x) skewY($y); // IE9+
  transform: skew($x, $y);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}


























// button style
// -------------------------

@mixin button($color, $background, $border) {
  @include border(2px);
  @include user-select(none);
  @include animation(all 0.2s ease-in-out);
  @include box-sizing(border-box);
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  *overflow: visible;
  padding: 0.5em 1.5em 0.5em;

  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover,
  &.active,
  &:focus,
  &.focus, {
    background-color: darken($background, 8%);
    border-color: darken($border, 12%);
  }
  &:active {
    @include box-shadow(0 0 2px rgba(0,0,0,0.15) inset);
    background-color: darken($background, 8%);
    border-color: darken($border, 12%);
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    @include opacity(0.6);
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $color;
      background-color: $background;
      border-color: $border;
    }
  }
  &.block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

