/* ==========================================================================
   typography css
   ========================================================================== */

/*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
body {
  font:13px/1.5 'HelveticaNeue-Light';
}

/* link */
a {
  color: $text-color-main;
  text-decoration: none;
  @include transition(all 0.2s ease-in-out);
  &:hover,
  &:focus,
  &:active,
  &.active,
  &.link {
    color: $text-color-highlight;
  }
  &.link {
    text-decoration: underline;
  }
}


/* text */
p {
  @extend .text-margin-bottom;
  &:last-child {
    margin-bottom: 0;
  }
}
.text-margin-top {
  margin-top: $text-margin;
}
.text-margin-bottom {
  margin-bottom: $text-margin;
}
.text-shadow {
  text-shadow: 0 0 10px $text-color-shadow;
}



/* box */
.box-margin-top {
  margin-top: $box-margin;
}
.box-margin-bottom {
  margin-bottom: $box-margin;
}





/* font size */
.xxlarge {
  font-size: 3.6em;
}
.xlarge {
  font-size: 2.8em;
}
.large {
  font-size: 2em;
}
.medium {
  font-size: 1.4em;
}
.regular {
  font-size: 1em;
}
.small {
  font-size: 0.9em;
}
.xsmall {
  font-size: 0.7em;
}




/* custom font */
.headline {
  @extend .xxlarge;
  @extend .text-margin-bottom;
}
.describe {
  @extend .large;
  color: $color-describe;
}
.title {
  //@extend .medium;
}
.lead {
  //@extend .medium;
}





/* clear */
.clearfix {
  @include clearfix();
}
.clearboth {
  font: 0px/0px sans-serif;
  clear: both;
  visibility: hidden;
  display: block;
}





/* float */
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.float-n {
  float: none;
}






/* text align */
.align-l {
  text-align: left;
}
.align-r {
  text-align: right;
}
.align-c {
  text-align: center;
}
.align-j {
  text-align: justify;
}






/* hide and show */
.hidden {
  display: none;
  visibility: hidden;
}
.shown {
  display: block;
  visibility: visible;
}




/* display table */
.display-table {
  display: table;
  > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}




/* list */
ul, ol, dl {
  margin-bottom: $box-margin;
  &:last-child {
    margin-bottom: 0;
  }
  > ul, ol {
    padding: 10px 0 10px 20px;
  }
}
ul.ordered, ol.ordered {
  li {
    list-style-type: decimal;
    li {
      list-style-type: lower-alpha;
    }
  }
}
ul.unordered, ol.unordered {
  li {
    list-style-type: disc;
    li {
      list-style-type: square;
    }
  }
}
ul.list-inline, ol.list-inline, dl.list-inline {
  > li {
    display: inline-block;
  }
  > dt, dd {
    display: inline-block;
    padding: 0;
  }
}
dt {
  font-weight: bold;
}

