/* ==========================================================================
   layout css
   ========================================================================== */

body {
  background-color: $color-white;
  color: $text-color-main;
}
.wrapper {
  padding-left: 180px;
  height: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* header */
header {
  padding: 100px 0;
  text-align: center;
  border-bottom: solid 1px $box-border-color;
  &.about {
    padding: 150px 0;
    .headline {
      font-size: 6em;
      color: $text-color-highlight;
    }
  }
}
/* main */
.main {
  padding: $box-margin 0;
}
/* footer */
footer {
  font-size: 0.8em;
  padding: 15px 0;
  text-align: center;
  border-top: solid 1px $box-border-color;
}


/* ==========================================================================
   common css
   ========================================================================== */