<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Base | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />
    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />

    <!-- for apple mobile -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="cleartype" content="on" />
    <meta http-equiv="imagetoolbar" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- for window 8 -->
    <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon.png" />
    <meta name="msapplication-TileColor" content="#000000" />

    <!-- add to home screen icon -->
    <link rel="apple-touch-icon-precomposed" sizes="200x200" href="/images/apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

    <!-- hidden input -->
    <div class="hidden-input">
        <input type="hidden" id="" name="" value="">
        <input type="hidden" id="" name="" value="">
    </div>

    <!-- html5 -->
    <div class="wrapper">
        <header>
            <h1 class="headline">Base</h1>
            <h3 class="describe">Leveraging Normalize.css, an HTML5-ready alternative to CSS resets.</h3>
        </header>
        <main class="main container" id="page-content">
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="title">To keep Pure lean and extensible, we do not add any typographic styles over the foundational layer provided by Normalize. This means that you get headings with different sizes, blockquotes, lists, definition lists, and more, but their styles are minimal and easy to override.</div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-3">
                    <h3 class="title"><i class="icon-book"></i> Reset</h3>
                    <p class="text-margin-top">Create dynamic slideshows that adapt to any screen.</p>
                </div>
                <div class="pure-u-1-3">
                    <h3 class="title"><i class="icon-print"></i> Print</h3>
                    <p class="text-margin-top">Get going fast with the easy-to-use examples.</p>
                </div>
                <div class="pure-u-1-3">
                    <h3 class="title"><i class="icon-file-text"></i> Normalize</h3>
                    <p class="text-margin-top">Swipe support that tracks touch movements on supported devices.</p>
                </div>
                <div class="pure-u-1-3">
                    <h3 class="title"><i class="icon-font"></i> Font</h3>
                    <p class="text-margin-top">Animations that run smoothly on modern devices.</p>
                </div>
                <div class="pure-u-1-3">
                    <h3 class="title"><i class="icon-code"></i> Variables</h3>
                    <p class="text-margin-top">Swipe support that tracks touch movements on supported devices.</p>
                </div>
                <div class="pure-u-1-3">
                    <h3 class="title"><i class="icon-link"></i> Mixins</h3>
                    <p class="text-margin-top">Animations that run smoothly on modern devices.</p>
                </div>
            </div>
        </main>
        <footer id="footer">{{footer}}</footer>


        <div class="aside">
            <nav class="nav">
                <a href="{{logo.link}}" class="logo nav-item" title="{{logo.name}}">{{logo.name}}</a>
                <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
                <ul id="nav">
                    <li ng-repeat="page in pages | filter:search:strict">
                        <a class="nav-item" href="{{page.link}}" title="{{page.name}}">{{page.name}}</a>
                    </li>
                </ul>
            </nav>
            <div class="btn-back-to-top fa fa-chevron-up fa-2x" id="back-to-top" href="##"></div>
        </div>
    </div>


    <!-- Add your template content here -->
    <div class="template"></div>


    <!-- script link here -->
    <div class="script">
        <script src="/js/common.js"></script>
    </div>

</body>
</html>