<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" ng-app> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Icons | Simple CSS | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />
    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />


    <!-- for window 8 -->
    <meta name="msapplication-TileImage" content="/images/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#000000">


    <!-- for apple mobile -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="imagetoolbar" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon.png">


    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<!-- hidden input -->
<div class="hidden-input">
    <input type="hidden" id="" name="" value="">
    <input type="hidden" id="" name="" value="">
</div>


<!-- html5 -->
<div class="wrapper">

    <aside>
    </aside>

    <nav>
        <a href="{{logo.link}}" class="logo" title="{{logo.name}}">{{logo.name}}</a>
        <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
        <ul>
            <li ng-repeat="page in pages | filter:search:strict">
                <a href="{{page.link}}" title="{{page.name}}">{{page.name}}</a>
            </li>
        </ul>
    </nav>

    <main>
        <header>
            <div class="container">
                <h1 class="headline">Icons</h1>
                <h2 class="describe">icons</h2>
            </div>
        </header>

        <article id="page-content">

            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Use custom pictures</h3>
                        <table class="table alignc">
                            <tr>
                                <td>
                                    <i class="icons-sns common-icons-baidu"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-douban"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-kaixin"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-kongjian"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-pengyou"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-qq"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icons-sns common-icons-renren"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-sina"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-taobao"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-weibo"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-weixin"></i>
                                </td>
                                <td>
                                    <i class="icons-sns common-icons-xiaomi"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="title">Use Font Awesome</h3>
                        <p>Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</p>
                    </div>
                </div>
                <div class="pure-g box-margin">
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-flag"></i> One Font, 361 Icons</p>
                        <p>In a single collection, Font Awesome is a pictographic language of web-related actions.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-pencil"></i> CSS Control</p>
                        <p>Easily style icon color, size, shadow, and anything that's possible with CSS.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-fullscreen"></i> Infinite Scalability</p>
                        <p>Scalable vector graphics means every icon looks awesome at any size.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-microphone"></i> Free, as in Speech</p>
                        <p>Font Awesome is completely free for commercial use. Check out the license.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-ok"></i> IE7 Support</p>
                        <p>Font Awesome supports IE7. If you need it, you have my condolences.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-eye-open"></i> Perfect on Retina Displays</p>
                        <p>Font Awesome icons are vectors, which mean they're gorgeous on high-resolution displays.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-thumbs-up-alt"></i> Made for Bootstrap</p>
                        <p>Designed from scratch to be fully compatible with Bootstrap 2.3.2.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-desktop"></i> Desktop Friendly</p>
                        <p>To use on the desktop or for a complete set of vectors, check out the cheatsheet.</p>
                        <p></p>
                    </div>
                    <div class="pure-u-1-3">
                        <p class="lead"><i class="icon-search"></i> Screen Reader Compatible</p>
                        <p>Font Awesome won't trip up screen readers, unlike other icon fonts.</p>
                        <p></p>
                    </div>
                </div>
                <code class="box-margin">
                    <p>View on official website: <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/" class="active">http://fortawesome.github.io/Font-Awesome/icons/</a></p>
                </code>
            </div>
            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Examples</h3>
                        <p>Lots of easy ways to use Font Awesome.</p>
                    </div>
                </div>
                <div class="pure-g box-margin">
                    <div class="pure-u-1-3">
                        <p class="lead">Inline Icons</p>
                        <p>Place Font Awesome icons just about anywhere with the <mark>&lt;i&gt;</mark> tag.</p>
                    </div>
                    <div class="pure-u-2-3">
                        <p><i class="icon-camera-retro"></i> icon-camera-retro</p>
                        <code>
                            <ol>
                                <li>&lt;<span class="element">p</span>&gt;&lt;<span class="element">i</span> <span class="tag">class</span>="<span class="attr">icon-camera-retro</span>"&gt;&lt;<span class="element">/i</span>&gt; icon-camera-retro&lt;<span class="element">/p</span>&gt;</li>
                            </ol>
                        </code>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <p class="lead">Larger Icons</p>
                        <p>To increase the size of icons relative to its container, use <mark>xxlarge</mark> <mark>xlarge</mark> <mark>large</mark> <mark>medium</mark> <mark>small</mark> <mark>xsmall</mark></p>
                    </div>
                    <div class="pure-u-2-3">
                        <p class="large"><i class="icon-camera-retro"></i> icon-camera-retro</p>
                        <code>
                            <ol>
                                <li>&lt;<span class="element">p</span> <span class="tag">class</span>="<span class="attr">large</span>"&gt;&lt;<span class="element">i</span> <span class="tag">class</span>="<span class="attr">icon-camera-retro</span>"&gt;&lt;<span class="element">/i</span>&gt; icon-camera-retro&lt;<span class="element">/p</span>&gt;</li>
                            </ol>
                        </code>
                        <p class="xlarge"><i class="icon-camera-retro"></i> icon-camera-retro</p>
                        <code>
                            <ol>
                                <li>&lt;<span class="element">p</span> <span class="tag">class</span>="<span class="attr">xlarge</span>"&gt;&lt;<span class="element">i</span> <span class="tag">class</span>="<span class="attr">icon-camera-retro</span>"&gt;&lt;<span class="element">/i</span>&gt; icon-camera-retro&lt;<span class="element">/p</span>&gt;</li>
                            </ol>
                        </code>
                    </div>
                </div>
            </div>

        </article>

        <footer id="footer">{{footer}}</footer>
    </main>
</div>



<!-- Add your template content here -->
<div class="template"></div>
<!-- script link here -->
<div id="script">
    <script src="/js/common.js"></script>
</div>
</body>
</html>