<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" ng-app> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Buttons | Simple CSS | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />

    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />


    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#333333">
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/touch/apple-touch-icon-57x57-precomposed.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<!-- hidden input -->
<div class="hidden-input">
    <input type="hidden" value="">
    <input type="hidden" value="">
</div>


<!-- html5 -->
<div class="wrapper">

    <aside>
    </aside>

    <nav>
        <a href="{{logo.link}}" class="logo" title="{{logo.name}}">{{logo.name}}</a>
        <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
        <ul>
            <li ng-repeat="page in pages | filter:search:strict">
                <a href="{{page.link}}" title="{{page.name}}">{{page.name}}</a>
            </li>
        </ul>
    </nav>

    <main>
        <header>
            <div class="container">
                <h1 class="title">Buttons</h1>
                <h2 class="describe">Use any of the available button classes to quickly create a styled button.</h2>
            </div>
        </header>

        <article>



            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Default buttons</h3>
                        <p>To create a Pure Button, add the pure-button classname to any <mark>&lt;a&gt;</mark> or <mark>&lt;button&gt;</mark> or <mark>&lt;input type="button"&gt;</mark> element.</p>
                        <div>
                            <p href="###" class="btn">Default Buttons</p>
                        </div>
                        <code>
                            <ol>
                                <li>&lt;<span class="element">p</span>&gt;&lt;<span class="element">i</span> <span class="tag">class</span>="<span class="attr">icon-camera-retro</span>"&gt;&lt;<span class="element">/i</span>&gt; Default Buttons&lt;<span class="element">/p</span>&gt;</li>
                            </ol>
                        </code>
                        <div>
                            <button class="btn" type="submit">Default Buttons</button>
                        </div>
                        <code>
                            <ol>
                                <li>&lt;<span class="element">p</span>&gt;&lt;<span class="element">i</span> <span class="tag">class</span>="<span class="attr">icon-camera-retro</span>"&gt;&lt;<span class="element">/i</span>&gt; icon-camera-retro&lt;<span class="element">/p</span>&gt;</li>
                            </ol>
                        </code>
                        <div>
                            <input class="btn" type="button" value="Default Buttons">
                        </div>
                        <code>
                            <ol>
                                <li>&lt;<span class="element">p</span>&gt;&lt;<span class="element">i</span> <span class="tag">class</span>="<span class="attr">icon-camera-retro</span>"&gt;&lt;<span class="element">/i</span>&gt; icon-camera-retro&lt;<span class="element">/p</span>&gt;</li>
                            </ol>
                        </code>
                    </div>


                    <div class="pure-u-1">
                        <h3 class="subtitle box-margin">Disabled buttons</h3>
                        <div class="btn disabled">Disabled Buttons</div>
                        <button class="btn disabled" type="submit">Disabled Buttons</button>
                        <input class="btn disabled" type="button" value="Disabled Buttons">
                    </div>


                    <div class="pure-u-1">
                        <h3 class="subtitle box-margin">Display block buttons</h3>
                        <button class="btn block" type="submit">Display block Buttons</button>
                    </div>


                    <div class="pure-u-1">
                        <h3 class="subtitle box-margin">Primary Buttons</h3>
                        <div class="btn-primary">Primary Buttons</div>
                    </div>


                    <div class="pure-u-1">
                        <h3 class="subtitle box-margin">Customizing Buttons</h3>
                        <div class="btn">default</div>
                        <div class="btn-info">info</div>
                        <div class="btn-success">success</div>
                        <div class="btn-warning">warning</div>
                        <div class="btn-error">error</div>
                    </div>


                    <div class="pure-u-1">
                        <h3 class="subtitle box-margin">Buttons with different sizes</h3>
                            <div class="btn xsmall">xsmall</div>
                            <div class="btn small">small</div>
                            <div class="btn Regular">Regular</div>
                            <div class="btn large">large</div>
                            <div class="btn xlarge">xlarge</div>
                        </div>
                    </div>


                    <div class="pure-u-1">
                        <h3 class="subtitle box-margin">Buttons with icons</h3>
                        <div class="btn"><i class="icon-step-backward"></i></div>
                        <div class="btn"><i class="icon-play"></i></div>
                        <div class="btn"><i class="icon-step-forward"></i></div>
                        <div class="btn"><i class="icon-off"></i></div>
                        <div class="btn"><i class="icon-android xlarge"></i></div>
                        <div class="btn"><i class="icon-apple xlarge"></i></div>
                        <div class="btn"><i class="icon-github xlarge"></i></div>
                        <div class="btn"><i class="icon-twitter xlarge"></i></div>
                        <div class="btn"><i class="icon-google-plus xlarge"></i></div>
                    </div>


                    <div class="pure-u-1">
                        <h3 class="subtitle box-margin">Buttons with icons and text</h3>
                        <div class="btn"><i class="icon-align-left"></i> text align left</div>
                        <div class="btn"><i class="icon-align-center"></i> text align center</div>
                        <div class="btn"><i class="icon-align-right"></i> text align right</div>
                        <div class="btn"><i class="icon-align-justify"></i> text align justify</div>
                    </div>
                </div>
            </div>

        </article>

        <footer id="footer">{{footer}}</footer>
    </main>
</div>



<!-- Add your template content here -->
<div class="template"></div>
<!-- script link here -->
<div id="script">
    <script src="/js/common.js"></script>
</div>
</body>
</html>