.btn {
  @include button($btn-default-text-color, $btn-default-bg-color, $btn-default-border-color);
}
.btn-primary {
  @include button($btn-primary-text-color, $btn-primary-bg-color, $btn-primary-border-color);
}
.btn-info {
  @include button($btn-info-text-color, $btn-info-bg-color, $btn-info-border-color);
}
.btn-success {
  @include button($btn-success-text-color, $btn-success-bg-color, $btn-success-border-color);
}
.btn-warning {
  @include button($btn-warning-text-color, $btn-warning-bg-color, $btn-warning-border-color);
}
.btn-error {
  @include button($btn-error-text-color, $btn-error-bg-color, $btn-error-border-color);
}





.btn-hover {
  @include transition(all 0.2s ease-in-out);
  &:hover {
    opacity: 0.8;
  }
  &.disabled{
    @include opacity(0.2);
    cursor: default;
  }
}
// nav control
.btn-nav-control {
  cursor: pointer;
  padding: 15px 10px;
  z-index: 3;
  position: fixed;
  left: 180px;
  top: 50%;
  margin-top: -28px;
  z-index: 3;
  background-color: $color-default;
  color: $color-white;
}
// back to top
.btn-back-to-top {
  cursor: pointer;
  padding: 15px;
  z-index: 3;
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  background-color: $color-default;
  color: $color-white;
}