<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" ng-app> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Table | Simple CSS | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />
    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />


    <!-- for window 8 -->
    <meta name="msapplication-TileImage" content="/images/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#000000">


    <!-- for apple mobile -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="imagetoolbar" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon.png">


    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<!-- hidden input -->
<div class="hidden-input">
    <input type="hidden" id="" name="" value="">
    <input type="hidden" id="" name="" value="">
</div>


<!-- html5 -->
<div class="wrapper">

    <nav>
        <a href="{{logo.link}}" class="logo" title="{{logo.name}}">{{logo.name}}</a>
        <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
        <ul>
            <li ng-repeat="page in pages | filter:search:strict">
                <a href="{{page.link}}" title="{{page.name}}">{{page.name}}</a>
            </li>
        </ul>
    </nav>

    <main>
        <aside class="nav-btn">
            <
        </aside>
        <header>
            <div class="container">
                <h1 class="headline">Table</h1>
                <h2 class="describe">Simple CSS for HTML tables.</h2>
                <!--<code class="box-margin">
                    <p>View on official website: <a target="_blank" href="http://slidesjs.com/" class="active">http://slidesjs.com/</a></p>
                </code>-->
            </div>
        </header>

        <article id="page-content">

            <div class="container pure-g">
                <div class="pure-u-1">
                    <div class="l-hbox">
                    <h3 class="subtitle">Standard Table</h3>
                    <table class="table">
                        <caption>Caption</caption>
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>thead</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>tbody</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@TwBootstrap</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Larry</td>
                            <td>Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>tfoot</th>
                            <th></th>
                            <th></th>
                            <th>Total</th>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="l-hbox">
                    <h3 class="subtitle">Horizontal Tables</h3>
                    <table class="table hover horizontal">
                        <thead>
                        <tr>
                            <th>thead</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>tbody</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@TwBootstrap</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Larry</td>
                            <td>Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>tfoot</th>
                            <th></th>
                            <th></th>
                            <th>Total</th>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="l-hbox">
                    <h3 class="subtitle">Vertical Tables</h3>
                    <table class="table hover vertical">
                        <tbody>
                        <tr>
                            <td>thead</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Username</td>
                            <td>Last Name</td>
                            <td>Username</td>
                        </tr>
                        <tr>
                            <td>tbody</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Last Name</td>
                            <td>Username</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@TwBootstrap</td>
                            <td>Last Name</td>
                            <td>Username</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Last Name</td>
                            <td>Username</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Larry</td>
                            <td>Bird</td>
                            <td>@twitter</td>
                            <td>Last Name</td>
                            <td>Username</td>
                        </tr>
                        <tr>
                            <td>tfoot</td>
                            <td>Larry</td>
                            <td>Bird</td>
                            <td>Total</td>
                            <td>Last Name</td>
                            <td>Username</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

        </article>

        <footer id="footer">{{footer}}</footer>
    </main>
</div>



<!-- Add your template content here -->
<div class="template"></div>
<!-- script link here -->
<div id="script">
    <script src="/js/common.js"></script>
    <script>
        $('.vertical.hover td').hover(
            function() {
                var t = parseInt($(this).index()) + 1;
                $('.vertical td:nth-child(' + t + ')').addClass('hover');
            },
            function() {
                var t = parseInt($(this).index()) + 1;
                $('.vertical td:nth-child(' + t + ')').removeClass('hover');
            }
        );
    </script>
</div>
</body>
</html>