//  about page category style
.category {
  text-align: center;
  > div {
    padding: 1em 0;
    color: $color-white;
    @include text-overflow();
  }
}

.grids-unit {
  .pure-g {
    background-color: $bg-color-box;
    margin-bottom: $text-margin;
  }
  .grids-unit-bar {
    background-color: darken($color-primary, 5%);
    line-height: 36px;
    color: $color-white;
    text-indent: 20px;
  }
}
.grid-example {
  .pure-g-r {
    margin: 0 auto;
    width: 800px;
    background-color: $bg-color-box;
  }
  .see-more {
    text-align: right;
    margin: 0 auto;
    width: 800px;
    margin-top: 20px;
  }
}




/* carousel page style */
.carousel {
  position: relative;
  .slidesjs-previous{
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 100;
    line-height: 30px;
    color: #ffffff;
  }
  .slidesjs-next{
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 100;
    line-height: 30px;
    color: #ffffff;
  }
  .slidesjs-pagination{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    z-index: 99;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    line-height: 30px;
    > li {
      display: inline-block;
      margin: 0 5px;
      a {
        width: 9px;
        height: 9px;
        @include border-radius(5px);
        @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.35));
        background-color: rgba(255,255,255,0.4);
        text-indent: 100px;
        overflow: hidden;
        display: block;
        &.active {
          background-color: rgba(255,255,255,1);
        }
      }
    }
  }
}