@-webkit-keyframes changeOpacity
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes changeOpacity
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@-ms-keyframes changeOpacity
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@-o-keyframes changeOpacity
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes changeOpacity
{
  from {opacity: 0;}
  to {opacity: 1;}
}





@-webkit-keyframes progress-active
{
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-active
{
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-active
{
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-active
{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-active
{
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}