/* navigation */
.nav {
  position: fixed;
  top: 0;
  width: 180px;
  .nav-item {
    color: $text-color-nav;
    display: block;
    padding: 15px;
    font-weight: bold;
    @include text-overflow();
    @include text-animation();
    &.logo {
      color: $text-color-highlight;
      font-size: 1.7em;
    }
  }
  .search {
    display: block;
    outline: none;
    border: none;
    line-height: 30px;
    height: 30px;
    width: 100%;
    padding: 0 15px;
    @include box-sizing(border-box);
    font-size: 16px;
    margin-bottom: 15px;
  }
}