/* ==========================================================================
   Global Variable
   ========================================================================== */


// default color
$color-default:             #000000;
$color-white:               #ffffff;
$color-shadow:              #ffff00;



// text
// -------------------------
$text-margin:               10px;
$text-color-main:           #333333;
$text-color-highlight:      #00dbff;
$text-color-describe:       #999999;
$text-color-stress:         $color-default;
$text-color-nav:            $color-white;


// background color
// -------------------------
$bg-color-default:          $color-white;
$bg-color-navigation:       #c9edf4;
$bg-color-content:          #c9edf4;
$bg-color-info:             #e2f6f9;



// box module
// -------------------------
$box-margin:                50px;
$box-bg-color:              #eeeeee;
$box-shadow-color:          $color-shadow;
$box-border-width:          1px;
$box-border-color:          #cccccc;
$box-border-style:          solid;
$box-border-radius:         0px;






// Buttons
// -------------------------
$color-primary:             #0078e7;
$color-success:             #1CB841;
$color-info:                #42B8DD;
$color-error:               #CA3C3C;
$color-warning:             #DF7514;


$btn-default-color-text:               $text-color-main;
$btn-default-color-bg:                 #E6E6E6;

$btn-primary-color-text:               $color-white;
$btn-primary-color-bg:                 $color-primary;

$btn-success-color-text:               $color-white;
$btn-success-color-bg:                 $color-success;

$btn-info-color-text:                  $color-white;
$btn-info-color-bg:                    $color-info;

$btn-warning-color-text:               $color-white;
$btn-warning-color-bg:                 $color-warning;

$btn-error-color-text:                 $color-white;
$btn-error-color-bg:                   $color-error;